<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 weapons-container">
            <!-- Weapon container -->
            <div class="row division-card-category">

                <div class="col-md-12">
                    <!--   <span  style="font-size: 1.3rem; border-right: 1px solid rgba(255,255,255,0.5);">
                          <i style="width: 20px; text-align: center;" class="fa fa-caret-down" aria-hidden="true"></i>
                     </span>
                     <span  style="font-size: 1.3rem; border-right: 1px solid rgba(255,255,255,0.5);">
                          <i style="width: 35px; text-align: center; " class="fa fa-plus" aria-hidden="true"></i>
                      </span>-->
                      <h2 style="display: inline-block; margin-left: 20px;"> Weapons </h2>
                 </div>
                  <!-- <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                  <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                  <i class="fa fa-eye-slash fa-2x" aria-hidden="true"></i> -->
            </div>


            <weapon-item slotId="1" itemSlotType="primary"></weapon-item>
            <weapon-item slotId="2" itemSlotType="primary"></weapon-item>
            <weapon-item slotId="3" itemSlotType="secondary"></weapon-item>

        </div>
        <div class="col-md-6 gear-container">
            <!-- gear container -->
            <div class="row division-card-category">
                <h2 class="col-md-8"> Equipped Gear </h2>
                <!-- <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                <i class="fa fa-eye-slash fa-2x" aria-hidden="true"></i> -->
            </div>

            <div class="col-md-6">

                <gear-item slotId="4" itemSlotType="body"></gear-item>
                <gear-item slotId="5" itemSlotType="mask"></gear-item>
                <gear-item slotId="6" itemSlotType="kneepads"></gear-item>

            </div>
            <div class="col-md-6">

                <gear-item slotId="7" itemSlotType="backpack"></gear-item>
                <gear-item slotId="8" itemSlotType="gloves"></gear-item>
                <gear-item slotId="9" itemSlotType="holster"></gear-item>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row division-card-category">
                <h2 class="col-md-8"> Summary </h2>
                <!-- <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                <i class="fa fa-eye-slash fa-2x" aria-hidden="true"></i> -->
            </div>
            <summary></summary>
        </div>

    </div>
</div>