# ---> Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

out/
build/
.idea

.gradle
**.iml

gradle-build/

public/



typings/
node_modules/
*.js
*.js.map

!systemjs.config.js