.native-box {
    color: white;
    text-align: center;
    display: inline-block;
    padding: 10px;
    background-color: #282828;

}

.native-box:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
}