.item-color {
    border-radius: 2px;
}

.set-item-color {
    background-color: #00cc99;
    color: #00cc99;
}

.yellow-item-color {
    background-color: orange;
    color: orange;
}

.purple-item-color {
    background-color: purple;
    color: purple;
}

.blue-item-color {
    background-color: blue;
}

.green-item-color {
    background-color: green;
}

.grey-item-color {
    background-color: grey;
}

.item-quality-icon {
    display: inline-block;
}

.item-quality-icon-text {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    font-weight: bold;
}