<div class="item-quality-icon gear-icon" style="position: relative;"

     [class.gear-icon-primary]="itemType == 'primary'"
     [class.gear-icon-secondary]="itemType == 'secondary'"
     [class.gear-icon-body]="itemType == 'body'"
     [class.gear-icon-mask]="itemType == 'mask'"
     [class.gear-icon-kneepads]="itemType == 'kneepads'"
     [class.gear-icon-backpack]="itemType == 'backpack'"
     [class.gear-icon-gloves]="itemType == 'gloves'"
     [class.gear-icon-holster]="itemType == 'holster'">

</div>

<!-- [ngClass]="{ 'set-item-color':     quality == 'set',
                  'yellow-item-color':  quality == 'highend',
                  'purple-item-color':  quality == 'purple',
                  'blue-item-color':    quality == 'blue',
                  'green-item-color':   quality == 'green',
                  'gray-item-color':    quality == 'grey'
                  }" -->