<div class="ui-g">
    <div class="ui-g-nopad ui-g-8 ellipse" (click)="toggleChecked()" style="cursor: pointer;">

        <i [ngClass]="{ 'fa-square-o': !showChecked() && !single,
                        'fa-check-square': showChecked() && !single,
                        'fa-circle-thin': !showChecked() && single,
                        'fa-check-circle': showChecked() && single
                        }"
           class="fa" aria-hidden="true"></i>

        <span class="attr-title">
            {{getAttributeText(attribute)}}
        </span>
    </div>
    <div class="ui-g-nopad ui-g-4">
        <input *ngIf="showChecked() && attribute.datatype?.type == 'number'"
               type="number"
               class="input-item-attribute"
               id="value"
               [disabled]="isDisabled()"
               min="{{attribute.datatype?.min}}"
               max="{{attribute.datatype?.max}}"
               step="{{attribute.datatype?.step != null ? attribute.datatype.step : 1}}"
               placeholder="#"
               (change)="onChangeText($event)"
               [(ngModel)]="inputValue">

        <div *ngIf="!showChecked() && attribute.datatype?.type == 'number'" class="possible-range-item-attribute">
            {{attribute.datatype?.min}}
            <i class="fa fa-chevron-right" aria-hidden="true" style="font-size: 0.6rem; margin: auto 3px;"></i>
            {{attribute.datatype?.max}}
        </div>
    </div>


</div>