<div class="division-card summary-container">
    <h5> Primary Attributes </h5>
    <ul style="list-style: none; padding-left: 0;">
        <li>
            <item-attribute attributeId="firearms"
                    [attributeValue]="sumAttributes['firearms']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="stamina"
                    [attributeValue]="sumAttributes['stamina']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="electronics"
                    [attributeValue]="sumAttributes['electronics']">
            </item-attribute>
        </li>
    </ul>

    <h5> Weapons <i class="fa fa-search fa-lg filter-blueprint-search-icon" aria-hidden="true"></i> </h5>
    <ul style="list-style: none; padding-left: 0;">
        <li>
            <item-attribute attributeId="weapon_damage"
                    [attributeValue]="sumAttributes['weapon_damage']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="chc"
                    [attributeValue]="sumAttributes['chc']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="chd"
                    [attributeValue]="sumAttributes['chd']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="headshot_damage"
                            [attributeValue]="sumAttributes['headshot_damage']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="accuracy"
                            [attributeValue]="sumAttributes['accuracy']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="stability"
                            [attributeValue]="sumAttributes['stability']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="range"
                            [attributeValue]="sumAttributes['range']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="reload_time"
                            [attributeValue]="sumAttributes['reload_time']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="reload_speed_bonus"
                            [attributeValue]="sumAttributes['reload_speed_bonus']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="all_weapons_damage_bonus"
                            [attributeValue]="sumAttributes['all_weapons_damage_bonus']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="assault_damage_bonus"
                            [attributeValue]="sumAttributes['assault_damage_bonus']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="lmg_damage_bonus"
                            [attributeValue]="sumAttributes['lmg_damage_bonus']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="marksman_damage_bonus"
                            [attributeValue]="sumAttributes['marksman_damage_bonus']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="pistol_damage_bonus"
                            [attributeValue]="sumAttributes['pistol_damage_bonus']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="shotgun_damage_bonus"
                            [attributeValue]="sumAttributes['shotgun_damage_bonus']">
            </item-attribute>
        </li>
        <li>
            <item-attribute attributeId="smg_damage_bonus"
                            [attributeValue]="sumAttributes['smg_damage_bonus']">
            </item-attribute>
        </li>
    </ul>

    <h5> Combat </h5>
    <h5> Skills </h5>
    <h5> Survivability </h5>
    <h5> Exploration </h5>
</div>